.App {
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
}

.signin{

}

label{
  border-radius: 8px;
  text-decoration: none;
  color: gray;
}

input{
  width: 18vw;
  height: 3.4vh;
  border-radius: 8px;
  text-decoration: none;
}

button{
 margin: auto;
 height:5vh;
border-radius: 8px;
  background-color:gray;
  color:white;
  justify-self: center;
  
}

.form-input{
  display: flex;
  flex-direction: column;
}