.App {
  text-align: center;
}


.signin{

}



label{
  border-radius: 8px;
  text-decoration: none;
  color: gray;
}

input{
  width: 18vw;
  height: 3.4vh;
  border-radius: 8px;
  text-decoration: none;
}

button{
 height:5vh;
border-radius: 8px;
margin: 0px 8px;
  background-color:rgb(41, 36, 36);
  color:white;
  justify-self: center;


  
}
@keyframes enlarge {
  0%{

  }
  50%{
    width:8vw;
    height: 7vh;
    border-radius: 20px;
    justify-self:center;
    text-align: center;
  }
  100%{

  }
}

button:hover{
  animation-name: enlarge;
  animation-duration: 1s;
  animation-iteration-count:2;
}

 #show-signup{
  background-color: rgb(126, 122, 122);
}

.form-input{
  display: flex;
  flex-direction: column;
}

.history{
  color: white;
}